.formstep {
}

    .formstep__content {
        position: fixed;
        top: 70px;
        bottom: 58px;
        width: 100%;
        padding: 60px 20px 40px 20px;
        overflow: auto;
        background-color: #EEE;
    }

        .formstep__header {
            text-align: center;
        }

        .formstep__title {
            display: inline-block;
            text-align: center;
            margin-bottom: 40px;
            border-bottom: 5px solid #18A7B5;
        }

    .formstep__navigation {

    }

@media(max-width: 767px) {}
@media(min-width: 768px) {
    .formstep__content {
        bottom: 101px;
    }
}
@media(min-width: 992px) {}
@media(min-width: 1200px) {}
