@media(max-width: 767px) {
.date {
    margin-bottom: 20px;
}

    .date__left {
        padding-left: 5px;
        margin-bottom: 5px;
    }

    .date__right {
    }

        .date__wrapper {
            & > div {
                display: block;
            }
        }

        .date__input {
            width: 100%;
            display: block;
            padding: 7.5px;
            border: 1px solid #CCC;
            outline-color: #18A7B5;
        }

        .date__error {
            margin-top: 5px;
            color: #CC0000;
        }
}

@media(min-width: 768px) {
}

@media(min-width: 992px) {

}

@media(min-width: 1200px) {

}
