@media(max-width: 767px) {
    .formula {
        margin-bottom: 20px;
    }

        .formula__left {
            padding-left: 5px;
            margin-bottom: 5px;
        }

            .formula__label {

            }

        .formula__right {
            padding-left: 5px;
        }

            .formula__value {

            }
}

@media(min-width: 768px) {
}

@media(min-width: 992px) {

}

@media(min-width: 1200px) {

}
