.radiogroup {
}

    .radiogroup__left {
        float: none !important;
        margin-bottom: 5px;
    }

    .radiogroup__right {
        float: none !important;
        width: 100% !important;
    }

        .radiogroup__option {
            width: 400px;
        }

            .radiogroup__label {
                display: block;
                padding: 20px;
                margin-bottom: 7.5px;
                font-family: 'Lato';
                font-weight: 700;
                background-color: #FFF;
                border: 1px solid #CCC;
                text-align: left;
                border-radius: 5px;
            }

                input[type="radio"]:checked+label.radiogroup__label {
                    color: #FFF;
                    background-color: #18A7B5;
                }

                .radiogroup__input {
                    display: none;
                }

@media(max-width: 767px) {}
@media(min-width: 768px) {}
@media(min-width: 992px) {}
@media(min-width: 1200px) {}
